@charset "utf-8";
:root {
    --primeira-cor: #1D3D67;
    --segunda-cor: #85C535;
    --terceira-cor: #333;
    --quarta-cor:#F2E205;
    --quinta-cor:#fff;
}
body {
    font-family: poppins, sans-serif;
    background-color: var(--quinta-cor);
    margin: 0;
    padding: 0;
    text-align: justify;
    line-height: 1.6;
}

strong{
    color: var(--segunda-cor);
}
.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
    
}

.linkedin img, .github img, .whatsapp img 
{
    width: 40px;
    height: 40px;
    filter:invert(100%);
}
#dados {
    font-size: 20px;
}
footer {
    background-color:var(--primeira-cor);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}
.quadros {
    display: grid;
    grid-template-columns: 100%; 

}
.quadros2 {
    background-color: #33333318;
    color: black;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
}
.quadros2 >img {
    max-width: 100%;
    max-height: 80%;
    border-radius: 10px;
}