@charset "utf-8";
:root {
    --primeira-cor: #1D3D67;
    --segunda-cor: #85C535;
    --terceira-cor: #333;
    --quarta-cor:#F2E205;
    --quinta-cor:#fff;
}

body {
    font-family: poppins, sans-serif;
    background-color: var(--quinta-cor);
    margin: 0;
    padding: 0;
    text-align: justify;
    line-height: 1.6;
}
h1, h2, h3 {
    color: var(--quinta-cor);
}

header {
    background-color: var(--quinta-cor);
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    
    width: 100%;
    top: 0;
    left: 0;    
}


header .logo img {
    width: 150px;
    height: auto;

    
}
header ul {
    
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    animation: infinite;
    text-align: right;
}
header ul li {
    display: inline;
    margin: 0 15px;
}
header ul li a {
    
    text-decoration: none;
    color: var(--primeira-cor);
    font-weight: bold;
    font-size: 18px;}
header ul li a:hover {
    background-color: var(--segunda-cor);
    padding: 10px;
    box-shadow: #33333333 0px 4px 8px 0px;
    color: var(--quinta-cor);
    border-radius: 10px;
}
#home {
    color: var(--primeira-cor);

}

#minha-imagem{
    margin: 40px 0 -300px 0;
    text-align: center;
 
}
#minha-imagem img{
    
    max-width: 420px;
    height: auto;
    
    
}
.sobre{
    
    padding: 160px 0 0 0;
    margin:  1% 10% 1% 10%;    

}
.sobre h2{
    color: var(--terceira-cor);
    margin-bottom: 20px;
    font-size: 2em;
}
#servicos{
    background-color: var(--primeira-cor);
    color: var(--quinta-cor);
    padding: 20px;
    

}
strong{
    color: var(--segunda-cor);
}
.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
    
}

.linkedin img, .github img, .whatsapp img 
{
    width: 40px;
    height: 40px;
    filter:invert(100%);
}
#dados {
    font-size: 20px;
}
footer {
    background-color:var(--primeira-cor);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}
.quadros {
    display: grid;
    grid-template-columns: 100%;   
    justify-content: center;
    align-items: center;
}
.quadros2 {
    background-color: #33333318;
    color: black;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: #33333333 0px 4px 8px 0px;
    
}
.quadros2 h3 {
    color: var(--primeira-cor);
    text-align: left;
    font-size: 1.8em;
}
#servicos ul {
    list-style: none;
}
#servicos ul li::before {
    content: url(imagens/Tick_Mark_Dark_icon-icons.com_69147.png);
    width: 10px;
    height: 10px;
    margin-right: 8px;
    

}